.DS_Store
*.pyc
.coverage
htmlcov
garlicconfig.egg-info
.idea
.vscode
build
dist
cget
wheelhouse
*.swp


# GarlicConfig Generated C++ files.
garlicconfig/encoding.cpp
garlicconfig/exceptions.cpp
garlicconfig/fields.cpp
garlicconfig/layer.cpp
garlicconfig/models.cpp
garlicconfig/repositories.cpp
