.DS_Store
*.pyc
.coverage
htmlcov
garlicconfig.egg-info
.idea
build
dist
cget
wheelhouse


garlicconfig/encoding.cpp
garlicconfig/exceptions.cpp
garlicconfig/fields.cpp
garlicconfig/layer.cpp
garlicconfig/models.cpp
garlicconfig/repositories.cpp
